.cardBody {
  background-color: #3f3f3f !important;
}

.CardFooter {
  background-color: #333;
}

.listGroupItemAction {
  color: #ec7d47;

  &:hover {
    color: #fff;
  }
}

.filterHeadings {
  color: #57ae4a;
  margin-bottom: '1rem';
}
